<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/51fc98eb-8c2b-47d4-9604-f7ba1b3edc86/resourceGroups/DefaultResoureGroup-DRG/providers/Microsoft.ContainerRegistry/registries/servernodejs20230808161427</ResourceId>
    <ResourceName>servernodejs20230808161427</ResourceName>
    <ResourceGroup>DefaultResoureGroup-DRG</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://servernodejs20230808161427.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>473e94e7-dc8b-4c7d-80cc-dc3c5eb61436</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>