<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/fa41435f-085c-4572-9a05-20af4dcd8902/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/servernodejs20230808171712</ResourceId>
    <ResourceName>servernodejs20230808171712</ResourceName>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://servernodejs20230808171712.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>473e94e7-dc8b-4c7d-80cc-dc3c5eb61436</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>